@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;600;700&display=swap');


html, body {
    margin:0;
    padding:0;
    }
   header {
    /* background: linear-gradient(90deg, rgba(106, 9, 108, 0.85) 0%, #AE29B0 21.59%, rgba(159, 28, 162, 0.74) 44.43%, rgba(180, 21, 183, 0.8) 75.21%, rgba(193, 7, 197, 0.56) 100%); */
    background: #191919;
   } 
   .header-wrapper {
       /* width: 1300px; */
       margin: 0 auto;
       padding: 10px 0;
   }
   .container {
       width: 1300px;
       
   }
.logo {
    width: 200px;
    margin-top: 10px;
    cursor: pointer;
    }
.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation a {
    text-decoration: none;
    margin-right: 50px;
    color: #FFFFFF;
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    
}
.navigation {
 align-items: center;
 display: flex;
 
}
.fa-steam-symbol {
    font-size: 15px;
}
.log-btn {
   border: 2px solid white;
    border-radius: 50px;
    width: 130px;
    height: 37px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Cuprum', sans-serif;
    font-size: 15px;
}
.log-btn:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
}
.log-steam {
    margin-right: 30px;
}
.main-body-child {
    width: 1349px;
    /* background: #191919; */
    /* background: linear-gradient(180deg, rgba(163,91,165,0.9) 8.5%, rgba(107,5,105,1) 14%, rgba(25,25,25,1) 30%); */
    background: #191919;
    height: 3000px;
}
.RandomKeys {
    /* background: linear-gradient(180deg, #7E2B80 0%, rgba(163, 91, 165, 0.9) 100%); */
    background: #409d4f;;
    width: 500px;
    /* border-right: 1px #a03aa1 solid; */
}
.RandomKeys-flex {
    display: flex;   
    background-image: url(../images/random-keys.png);
    background-size: 80%;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    background-position-y: -17px;
    background-position-x: 138px;
}

.keys-p {
    font-family: 'Cuprum', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    width: 137px;
}
.keys-elements {
    margin-left: 20px;
}
.keys-buy-btn {
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    background: transparent;
    font-family: 'Cuprum', sans-serif;
    color: #FFFFFF; 
    transition: 0.3s;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}
.keys-buy-btn:hover {
    transform: scale(1.1);
}


.RandomAccounts {
    /* background: linear-gradient(180deg, #7E2B80 0%, rgba(163, 91, 165, 0.9) 100%); */
    /* background: #191919; */
    background: #4f7cbf;
    width: 500px;
    /* border-right: 1px solid rgb(175, 14, 175) ; */
}
.RandomAccounts-flex {
    display: flex;   
    background-image: url(../images/PngItem_1601669.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    background-position-y: 5px;
    background-position-x: 80px;
}

.accounts-p {
    font-family: 'Cuprum', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    width: 137px;
}
.accounts-elements {
    margin-left: 20px;
}
.accounts-buy-btn {
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    background: transparent;
    font-family: 'Cuprum', sans-serif;
    color: #FFFFFF; 
    transition: 0.3s;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}
.accounts-buy-btn:hover {
    transform: scale(1.1);
}
#random-section {
    display: flex;
}
.day-product {
    width: 364px;
}
.day-product-flex {
     /* display: flex;    
     background-image: url(../images/product/kiber.jpg);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position-x: -100px; */
    height: 100%; 
}
.day-product-wrapper {
    position: relative;
    overflow: hidden; /*выход за рамки дива*/
    height: 100%; 
}
.img-kiber {
    position: absolute ;
    top: 0;
    left: -100px;
    width: 130%;
    opacity: 0.6;
    height: 100%;
}
.day-product-p {
    font-family: 'Cuprum', sans-serif;
    font-family: 'Cuprum', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
}
.day-product-elements {
    margin-top: 86px;
    margin-left: 20px;
    position: relative;
}
.buy-btn {
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    background: transparent;
    font-family: 'Cuprum', sans-serif;
    color: #FFFFFF; 
    transition: 0.3s;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}
.buy-btn:hover {
    transform: scale(1.1);
}
.day-product-btn {
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    background: transparent;
    font-family: 'Cuprum', sans-serif;
    color: #FFFFFF; 
    transition: 0.3s;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    
}
.day-product-btn:hover {
    transform: scale(1.1);
}


.main-container {
    width: 1100px;
    margin: 0 auto;
    }
.online-purchases-container {
    margin-top: 80px;
}
.online-purchases-container-header {
    display: flex;
    justify-content: space-between;
}
.t-right {
    text-align: right;
}
.online_purchases-container-header-left {
    /* display: inline-block; */
}
.online_purchases-container-header-right {
    /* display: inline-block; */
}
.online_purchases-container-header-left p {
    font-family: 'Cuprum', sans-serif;
    color: #FFFFFF;
}
.online_purchases-container-header-right p {
    font-family: 'Cuprum', sans-serif;
    display: inline-block;
    color: #FFFFFF;
}
.online_purchases-container-header-right span {
    font-family: 'Cuprum', sans-serif;
    display: inline-block;
    color: #FFFFFF;
}

.online-purchases-container-box {
    background: transparent;
    border: 2px solid white;
    border-radius: 16px;
    width: 100%;
    box-shadow: 7px 7px 46px 0px rgb(66 94 125 / 18%);
    /* padding: 10px; */
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 24px;
    padding-bottom: 10px;
}
.online-purchases-game-container img {
    width: 90px;
    border-radius: 10px;
    margin-right: 12px;
    filter: brightness(1.2);
}


.Minecraft-accounts-flex {
    display: flex;   
    background-image: url(../images/MinecraftBanner.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 500px;
}
.Minecraft-accounts-elements {
    /* display: flex; */
    margin-top: 50px;
    margin-left: 80px;
    line-height: 100px;
}
.Minecraft-accounts-elements p {
    font-family: 'Cuprum', sans-serif;
    font-size: 60px;
    color: #FFFFFF;
    line-height: 60px;
}
.Minecraft-accounts-elements button {
font-size: 25px;
}
.Minecraft-accounts {
    margin-top: 60px;
}


